$main-txt-color:       #292929;

$website-width-xl:     1350px;
$website-width-l:      1024px;
$website-width-m:       960px;

$link-color:           #01689b;

//Responsive breaks
$break-xxl:            1200px;
$break-xl:              992px;
$break-840:             840px;
$break-l:               768px;
$break-m:               576px;
$break-s:               480px;


//Buttons
$btn-blue:            #317a9f;
$main-font : "RO Sans",
Calibri,
Verdana,
sans-serif;

$secundaire-font: "RO Serif",
"Times New Roman",
Times,
serif;