/* .nojs {
    #searchForm {
        -webkit-animation: showSearch 0.000001s 1;
        -o-animation: showSearch 0.000001s 1;
        animation: showSearch 0.000001s 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        .searchSubmit {
            animation: showButton 0.000001s 1;
            animation-fill-mode: forwards;
        }
        @media (max-width: 767px) {
            -webkit-animation: showSearchMobile 0.000001s 1;
            -o-animation: showSearchMobile 0.000001s 1;
            animation: showSearchMobile 0.000001s 1;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            -o-animation-fill-mode: forwards;
        }
    }
} */