.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left:-15px;
  margin-right:-15px;
  box-sizing: border-box;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left:15px;
  padding-right:15px;
}

//If size is beyond 780 make columns
@media only screen and (min-width: $break-l) {
  .col-1 {
    @include flex-box-col(8.333333%);
  }
  .col-2 {
    @include flex-box-col(16.666667%);
  }
  .col-3 {
    @include flex-box-col(50%);
    @media only screen and (min-width: $break-xl) {
      @include flex-box-col(25%);
    }
  }
  .col-4 {
    @include flex-box-col(33.333333%);
  }
  .col-5 {
    @include flex-box-col(41.666667%);
  }
  .col-6 {
    @include flex-box-col(50%);
  }
  .col-7 {
    @include flex-box-col(58.333333%);
  }
  .col-8 {
    @include flex-box-col(66.666667%);
  }
  .col-9 {
    @include flex-box-col(75%);
  }
  .col-10 {
    @include flex-box-col(83.333333%);
  }
  .col-11 {
    @include flex-box-col(91.666667%);
  }
  .col-12 {
    @include flex-box-col(100%);
  }
}

//Create more space between 3 columns.
.col-4 {
  @media screen and (min-width: $break-l) {
    .block-col {
      padding:0 15px;
    }
    &:first-child .block-col {
      padding: 0 30px 0 0;
    }
    &:last-child .block-col {
      padding: 0 0 0 30px;
    }
  }
}

//Create more space between 2 columns.
.col-6 {
  @media screen and (min-width: $break-l) {
    &:first-child .block-col {
      padding: 0 30px 0 0;
    }
    &:last-child .block-col {
      padding: 0 0 0 30px;
    }
  }
}
