.field.field--name-field-titel-video.content-item {
  font-size: 1.5625rem;
  margin-top: 0.5rem;
  margin-bottom: 1.0rem;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}