//Different shades of blue
$primary-color: #8FCAE7;
$secundary-color: #EEF7FB;
$tertairy-color: #DDEFF8;
//Test result colours
$color-result-positive:#7ED321;
$color-result-warning:#F8E71C;
$color-result-supervised: #F6A623;
$color-result-alarming:#D0021B;
$border-color-blue: #01689b;
$dark-blue: #00435C;

$color-light-grey: #d8d8d8;
$color-dark-grey: #999;
