$page-max-width:1200px;
//Fonts
$font-style-main: "RO Sans", Calibri, sans-serif;
$font-style-sec: "RO Serif";
$font-style-icon: "RO Icons";
//Media breaks
$breakpoint-min-1200:1200px;
$breakpoint-min-992px:992px;
$breakpoint-min-768px:768px;
$breakpoint-min-640px:640px;
$breakpoint-min-480px:480px;
$breakpoint-max-767px:767px;
